body {overflow-y: scroll}

.content-header .btn {margin-left:10px;}

.table {border:1px solid #999; margin-bottom:0}
.table thead tr th{border:1px solid #ddd; cursor: default}
.table tbody tr td{border:1px solid #ddd; padding:3px 4px; font-size:13px; white-space:nowrap}
.table .btn {margin-left:5px;}
.table-hover {cursor:pointer;}

.form-control, .input-group .input-group-addon, .input-group .input-group-btn .btn, span.select2, .check-box  {border:1px solid #999; box-sizing: border-box;}
.input-group .input-group-addon {border-right:none; background-color:#f0f0f0}
.form-control {font-size:13px; color:#000;}
.form-group {margin-bottom:5px}

.select2-container--default .select2-selection--single, .select2-container--default  .select2-selection--multiple {
    box-shadow: none;
    border: none;
    height: 28px; padding:4px 10px;
}

.spacer {width: 100%; height: 10px; float:none;}

.datepicker{z-index:900 !important;}
span.select2 {width:100%!important;}

.loading {margin:10px auto;
    border:7px solid #f1f2f3; 
    border-top: 7px solid #ccc;
    border-bottom: 7px solid green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

section.content-header h1 {padding-top:5px;}
section.content {padding-top:5px}

form .row {padding:0 10px}
form .row > div {padding:5px}

.nav-tabs {margin:0 -10px; padding:0 10px}
ul.nav.nav-tabs li a {padding:5px 10px;}
.tab-content {margin-top:15px;}
.box-header {font-size:21px; border-bottom:1px solid #f5f5f5}

.control-label {margin-bottom:0px; font-size:13px;}
.control-label:after {content: ':';}
.required:after {content: '*';  font-size:20px; margin:-4px 4px; float:left; position:absolute; font-weight:bold;}

.pag {margin-top:10px;}

.btn_sair {background-color:#a00303}
.btn_user {background-color: rgba(0,0,0,0.4)}